// Specific CSS for your home-page
body {
  background-color: $body-color;
}

.input-field {
  border-radius: 3px;
}

.primary-btn {
  border-radius: 3px;
  background-color: $accent-color;
  color: $main-color;

  &:hover {
    background-color: $sub-color;
    opacity: 0.7;
  }
}
