.show-background {
background: linear-gradient($main-color, $main-color);
height: 100%;
}

.show-background h5 {
  color: $sub-color;
}

.btn .btn3 {
  width: 30px !important;
  height: 30px !important;
  padding: 2px 0px !important;
  background-color: $sub-color;
}

.spin-btn {
  margin: 12px;
  width: 300px !important;
  height: 35px !important;
  background-color: $sec-color !important;
  border: 5px !important;
}

#main-bar-show h5 {
  color: $sec-color;
  font-family: "Lato";
  font-size: 18px;
  margin-bottom: 5px;
}

