.show-background {
  background-image:
    linear-gradient(
      rgba(53, 48, 48, 0.83),
      rgba(53, 48, 48, 0.83)
    ),
    url("https://images.unsplash.com/photo-1515513263345-cf961d304898?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

// https://res.cloudinary.com/du4r5hykw/image/upload/v1567619446/background_a.jpg

.show-background h5 {
  color: $sub-color;
}

.btn .btn3 {
  width: 30px !important;
  height: 30px !important;
  padding: 2px 0px !important;
  background-color: $sub-color;
}

.spin-btn {
  margin: 12px;
  width: 300px !important;
  height: 35px !important;
  background-color: $sec-color !important;
  border: 5px solid $sec-color !important;
}

#main-bar-show h5 {
  color: $sec-color;
  font-size: 18px;
  margin-bottom: 5px;
}

