
<div class="bar-mini-card px-3 mb-2">
  <p class="bar-name my-1"><i class="fas fa-beer color-sec"></i> <%= link_to bar.name, '#', class: "bar-#{bar.id}" %></p>
  <p class="bar-category"><%= bar.category %></p>
  <p class="bar-cost">$$$$</p>
  <%= image_tag bar.photo?, class: 'w-100 bar-mini-photo'%>
  <p class="my-0 bar-address"><i class="fas fa-map-pin color-main"></i> <%= bar.address %></p>
</div>
