<div class="filter-box text-center filter-box-hide">
  <a href="#">All</a>
  <a href="#">Beer</a>
  <a href="#">Wine</a>
  <a href="#">Cocktail</a>
  <a href="#">Whisky</a>
  <a href="#">Food</a>
  <a href="#">Outdoor</a>
  <a href="#">Queer</a>
  <a href="#">Smoke</a>
</div>
