<div class="filter-box text-center filter-box-hide">
  <a class="font-weight-bold" href="#">All</a>
  <a class="font-weight-light" href="#">Beer</a>
  <a class="font-weight-light" href="#">Wine</a>
  <a class="font-weight-light" href="#">Cocktail</a>
  <a class="font-weight-light" href="#">Whisky</a>
  <a class="font-weight-light" href="#">Food</a>
  <a class="font-weight-light" href="#">Outdoor</a>
  <a class="font-weight-light" href="#">Queer</a>
  <a class="font-weight-light" href="#">Smoke</a>
</div>
