<form action="/nights" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <div id="address-form">
    <input name="addresses[]" type="text" class="address-input" value="" placeholder="Type address here" />
    <input name="addresses[]" type="text" class="address-input" value="" placeholder="Type address here" />
  </div>
      <br>
    <input type="submit" id="address-form-submit" class= "btn btn-primary" value="Spin the wheel">
</form>
<br>
<a href="#" id="add-address-btn" class="btn btn-info">Add an address</a> <a href="#" id="remove-address-btn" class="btn btn-danger">Remove</a>


