<div class="dad-goo">
  <div>
    <span class="goo">selecting 3 bars</span>
  </div>
  <div>
    <span class="goo">quick and convenient</span>
  </div>
  <div>
    <span class="goo">for you and your friends</span>
  </div>
</div>
