<div class="row justify-content-center landing-background">
  <div class="col-8 main-logo">
    <h1 id="logo-bar">Bar</h1> <h1 id="logo-Roulette">Roulette</h1>
  </div>
  <div class="moto">
    <h6>find a bar quick and fair <br>
    for your night out with friends</h6>
  </div>
  <div class="search-form">
    <%= render 'form' %>
  </div>
</div>
