<div class="h-100 row justify-content-center landing-background">
  <div class="col-12 main-logo d-inline-flex justify-content-center">
    <h1 id="logo-bar">Bar</h1>
    <br>
    <h1 id="logo-Roulette">Roulette</h1>
  </div>
  <div class="moto col-12 d-inline-flex justify-content-center">
    <h6>find a bar quick and fair <br>
    for your night out with friends</h6>
  </div>
  <div class="search-form">
    <%= render 'form' %>
  </div>
</div>

<div id="giphy-container" style="display: none">
  <iframe src="https://giphy.com/embed/Nd2hAfzpUhzJVrAnPN" width="480" height="560" frameBorder="0" class="giphy-embed" allowFullScreen>

  </iframe><p><a href="https://giphy.com/gifs/julesm-julesmumm-psycheledic-Nd2hAfzpUhzJVrAnPN">via GIPHY</a></p>

</div>
