
<div class="landing-background" id="home-container">
  <div class="row mx-auto">
    <div class="col-12 pt-5 px-1">
      <img class="w-100 px-5 py-2 mb-3" src="https://res.cloudinary.com/du4r5hykw/image/upload/v1567092388/main_logo.png">
    </div>
    <div class="col-12 text-center">
      <h5 class="moto font-weight-bold mb-0">find a bar right in the middle</h5>
      <h5 class="moto font-weight-bold my-1">for your night out with friends</h5>
    </div>
  </div>


  <div class="row mx-auto mt-4 justify-content-center form-parent">
    <%= render 'filter-box' %>
    <div class="search-form col-11 mt-2">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row mx-auto pt-3 mt-3">
    <div id="beer-gif" class="col-12 pt-1">
      <img src="https://res.cloudinary.com/du4r5hykw/image/upload/v1567094035/beer_gif.gif" class="w-100">
    </div>
    <%= render 'shared/footer' %>
  </div>
</div>



<div id="gif-container" style="width: 100vw; position: relative; display: none">
  <% gifs = ["waffle.gif", "cat.gif", "drink-man.gif", "wow.gif", "donut.gif", "pancakes.gif", "sweet.gif", "cookie.gif", "hot-dog.gif"] %>
  <% gif = "gifs/"+gifs.sample %>
  <%= image_tag "#{gif}", alt: "drink", style: "width: 100vw; height: 100vh; object-fit: cover;" %>
<!--   <div class="gif-text">
    <p>3 bars</p>
    <p>
      <span class="word wisteria">in the middle</span>
      <span class="word belize">for your night out</span>
      <span class="word green">with your friends</span>
    </p>
  </div> -->

    <div class="dad-goo" contenteditable="true" style="font-size: 17px">
      <span class="goo">selecting 3 bars</span>
      <br> <br>
      <span class="goo">quick and convenient</span>
      <br><br>
      <span class="goo">for you and your friends</span></div>



</div>
