<div class="row justify-content-center">
  <div class="col-8">
    <h1>Bar Roulette</h1>
    <h4>Find a bar quick and fair</h4>
    <h6>...getting drunk made easy...</h6>
    <%= render 'form' %>
  </div>
</div>
