<div class="row justify-content-center">
  <div class="col-8">
    <h1>BAR ROULETTE</h1>
    <p class="py-0 my-0">find a bar quick and fair</p>
    <p>for your night out with friends</p>

    <div>
    <%= render 'form' %>
    </div>

  </div>
</div>
