<div class="landing-background" id="home-container">
  <div class="row pt-3">
    <div class="col-12 pt-5 px-1">
      <img class="w-100 px-5 py-2 mb-3" src="https://res.cloudinary.com/du4r5hykw/image/upload/v1567092388/main_logo.png">
    </div>
    <div class="col-12 text-center">
      <h5 class="moto font-weight-bold mb-0">find a bar quick and fair</h5>
      <h5 class="moto font-weight-bold my-1">for your night out with friends</h5>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="search-form col-10 mt-4">
      <%= render 'form' %>
    </div>
  </div>
  <div class="row pt-5">
    <div id="beer-gif" class="col-12 pt-1">
      <img src="https://res.cloudinary.com/du4r5hykw/image/upload/v1567094035/beer_gif.gif" class="w-100">
    </div>
  </div>
</div>

<div id="giphy-container" style="display: none">
  <% gifs = ["giphy-waffle.gif", "giphy-coke.gif", "giphy-cat.gif", "giphy-man.gif" ] %>
    <% gif = gifs.sample %>
  <%= image_tag "#{gif}", alt: "drink", style: "width: 100vw; object-fit: " %>
  <p class=text-center> <%= "Choosing 3 perfect bars for you..." %></p>
</div>
 <!-- this ndeeds to  work -->
