<div class="row justify-content-center" id="home-container">
  <div class="col-8">
    <h1>BAR ROULETTE</h1>
    <p class="py-0 my-0">find a bar quick and fair</p>
    <p>for your night out with friends</p>

    <div>
    <%= render 'form' %>
    </div>

  </div>
</div>

<div id="giphy-container" style="display: none">
  <iframe src="https://giphy.com/embed/Nd2hAfzpUhzJVrAnPN" width="480" height="560" frameBorder="0" class="giphy-embed" allowFullScreen>

  </iframe><p><a href="https://giphy.com/gifs/julesm-julesmumm-psycheledic-Nd2hAfzpUhzJVrAnPN">via GIPHY</a></p>

</div>
