<div class="row justify-content-center" id="home-container">
  <div class="col-8">
    <h1>BAR ROULETTE</h1>
    <p class="py-0 my-0">find a bar quick and fair</p>
    <p>for your night out with friends</p>

    <div>
    <%= render 'form' %>
    </div>

  </div>
</div>

<div id="giphy-container" style="display: none">
  <% gifs = ["giphy-waffle.gif", "giphy-coke.gif", "giphy-cat.gif", "giphy-man.gif" ] %>
    <% gif = gifs.sample %>
  <%= image_tag "#{gif}", alt: "drink", style: "width: 100vw; object-fit: " %>
  <p class=text-center> <%= "Choosing 3 perfect bars for you..." %></p>
</div>
