
<div>
  <button id="url" type='button' class="btn3 btn-primary" >Share</button>
</div>

<script>

  cb_btn = document.querySelector("#url");
  cb_btn.addEventListener("click", (event) => {
    updateClipboard();
  });
  function updateClipboard() {
  navigator.clipboard.writeText("<%= request.original_url %>").then(function() {
    console.log("successful")
  }, function() {
    console.log("failed");
  });
}


tippy('#url', {
  arrow: true,
  trigger: 'click', // or 'focus'
  content: 'Url copied to clipboard',
})


</script>
