
<div>
  <button id="url-btn" type='button' class="btn btn3 btn-info" >Share the link</button>
</div>

<script>

  cb_btn = document.querySelector("#url-btn");
  cb_btn.addEventListener("click", (event) => {
    updateClipboard();
  });
  function updateClipboard() {
  navigator.clipboard.writeText("<%= request.original_url %>").then(function() {
    console.log("successful")
  }, function() {
    console.log("failed");
  });
}


tippy('#url-btn', {
  arrow: true,
  trigger: 'click', // or 'focus'
  content: 'Url copied to clipboard',
})


</script>
