<div class="footer">
  <div>
    <footer>
<!--       <a href="https://www.instagram.com/bar_roulette/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a> -->
      <p class="footer"> - 2019</p>
    </footer>
  </div>
</div>
