<div class="grid-container">
<div class="col m4">
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1510664691675-9c263a118102?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
    <div>
      <h2>Need a drink?</h2>
      <p>Bar Roulette will help you and your friends to find a great bar in a quick and fun way, by taking two locations or more under consideration.</p>
    </div>
  </div>
</div>

  <div class="col m4">
<div class="card-trip">
  <img src="https://www.reactiongifs.com/r/mgc.gif">
    <div>
      <h2>Let the magic begin</h2>
      <p>Grab your phone and enter first your and then your friends location and don't forget to push the 'SPIN THE WHEEL' button.</p>
    </div>
  </div>
</div>
   <div class="col m4">
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1541532713592-79a0317b6b77?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
    <div>
      <h2>Enjoy your night out!</h2>
      <p>In only a few seconds, three bars close to those two locations you picked will appear right in front of your eyes.</p>
    </div>
  </div>
</div>
</div>


