  .bar-mini-card-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
  }

  .bar-mini-card {
    background: #f8f9fa4d;
    color: $main-color;
    width: 100%;
    border-radius: 5px;
    position: relative;
    font-family: $roulette-font;
  }

.bar-mini-card p {
  font-size: 20px;
}

.bar-name {
  font-weight: bold;
  font-size: 22px !important;
  vertical-align: center;
  color: white !important;
  position: absolute;
  top: 5px;
  right: 5px;
  white-space: nowrap;
}

.bar-distance {
  font-size: 18px !important;
  vertical-align: center;
  color: $main-color !important;
  position: absolute;
  top: 70px !important;
  right: 10px;
  font-weight: bold;
}

.bar-category {
  font-size: 18px !important;
  vertical-align: center;
  color: $main-color !important;
  position: absolute;
  top: 45px;
  right: 10px;
}

