.bar-show-photo {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.bar-show-main {
  font-family: $roulette-font;
  min-height: 100vh;
}

.bar-infos {
  text-align: left;
  padding: 20px;
  color: white;
  line-height: 100%;
}

.bar-infos .bar-show-category {
  font-size: 20px;
}

.bar-hours {
  text-align: left;
  padding: 20px;
  color: white;
  line-height: 80%;
  display: block;
}

.map-link {
  height: 50px;
  width: 97%;
  font-family: $roulette-font;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #00cccc00 !important;
  font-weight: bold !important;
  font-size: 20px;
  color: $sec-color;
  padding: 13px;
  line-height: normal;
  border: 3px solid $sec-color;
  border-radius: 5px;
  background-position: center !important;
  margin-left: 6px;
}

.width-100 {
  padding-bottom: 20px;
}

.back-btn {
  position: inherit;
  color: white;
  font-size: 30px;
  margin-left: 10px;
}

.bar-infos h2 {
  font-size: 28px;
  font-weight: bold;
  top: 10px;
  border-radius: 5px;
}

.bar-infos {
  padding-left: 15px !important;
  padding-right: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}

.hr {
  border-top: 10px solid rgba(255, 255, 255, 1.0);
  color: white;
  margin-bottom: 1px !important;
}

.clock {
  font-size: 20px;
}

.weekdays {
  font-weight: bold !important;
}

.bar-phone:active {
  color: white !important;
}

.bar-phone:hover{
  color: white !important;
}

.bar-phone:visited{
  color: white !important;
}

.back-btn:active {
  color: white !important;
}

.back-btn:hover{
  color: white !important;
}

.back-btn:visited{
  color: white !important;
}
