.bar-show-photo {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.bar-show-page {

}

.bar-infos {
  text-align: left;
  padding: 15px 15px;
}

.bar-hours {
  text-align: left;
  padding: 15px 15px;
}

.mb-3 {

}
