.form-parent {
  position: relative;
}

.filter-box {
  position: absolute;
  background: grey;
  padding: 10px;
  z-index: 50;
  border-radius: 5px;
  top: 180px;
  width: 100%;
}

.filter-box a {
  color: white;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.filter-box a:hover {
  color: #FF22A4;
  text-decoration: none;
  background: #080E4A;
}

.filter-box-hide {
  display: none;
}
