.form-parent {
  position: relative;
}

.filter-box {
  position: absolute;
  background: rgba(25, 25, 25, 0.95);
  padding: 10px;
  z-index: 50;
  border-radius: 5px;
  top: 65px;
  width: 95%;
}

.filter-box a {
  font-family: $roulette-font;
  color: white;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.filter-box a:hover {
  color: black;
  text-decoration: none;
  background: $accent-color;
  border-radius: 5px;
}

.filter-box a:select {
  color: black;
  text-decoration: none;
  background: $accent-color;
  border-radius: 5px;
}

.filter-box-hide {
  display: none;
}
