footer {
    background-color: $sub-color;
    border-top: none;
    text-align:center;
    padding:20px;
    position: sticky;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.fab {
  color: $body-color;
  font-weight: bold;
  font-size: 30px;
}

