.landing-background {
  background-image:
    linear-gradient(
      rgba(53, 48, 48, 0.53),
      rgba(53, 48, 48, 0.53)
    ),
    url("https://res.cloudinary.com/du4r5hykw/image/upload/v1567619446/background_a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  //background: linear-gradient($main-color, #65053E);
  /* background: linear-gradient($main-color, #FF53EE);*/
  /* background: linear-gradient($main-color 50%, #316966);*/
  /* background: linear-gradient($main-color 40%, #65053E);*/
  /* background: linear-gradient($main-color 40%, #477875);*/
}

.giphy-container {
  //background: linear-gradient($main-color, #65053E);
  /* background: linear-gradient($main-color, #FF53EE);*/
  /* background: linear-gradient($main-color 50%, #316966);*/
  /* background: linear-gradient($main-color 40%, #65053E);*/
  /* background: linear-gradient($main-color 40%, #477875);*/
}

.moto {
  color: white;
  font-size: 20px;
}

#main-logo {
  display: flex;
  width: 100%;
}

#main-logo img {
  margin-top: 50px;
  height: 50px;
  vertical-align: middle;
}

#address-form-submit {
  background-color: #00cccc00 !important;
  font-weight: bold !important;
  font-family: $roulette-font;
  font-size: 20px;
  color: $sec-color;
  padding: 13px;
  width: 100%;
  line-height: normal;
  border: 3px solid $sec-color;
  border-radius: 5px;
  margin-bottom: 94px !important;
  background-position: center !important;
}

#add-address-btn {
    width: 35px !important;
    height: 35px !important;
    padding: 3px 0px;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 2 !important;
    color: black;
    background-color: $sec-color;
    border-color: $sec-color;
}

#remove-address-btn {
    width: 35px !important;
    height: 35px !important;
    padding: 3px 0px;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 2 !important;
    color: $main-color;
    background: $accent-color !important;
    border-color: $accent-color !important;
}

.address-input {
  height: 50px !important;
  margin: auto;
  font-size: 20px;
  border-radius: 5px !important;
  // background: rgba(255, 255, 255, 0.9);
}

#filter-btn {
  font-size: 20px;
  font-family: $roulette-font;
  margin-top: 2px;
  padding: 1px 15px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-weight: 300;
}
