.landing-background {
  background: linear-gradient($main-color, #65053E);
  /* background: linear-gradient($main-color, #FF53EE);*/
  /* background: linear-gradient($main-color 50%, #316966);*/
  /* background: linear-gradient($main-color 40%, #65053E);*/
  /* background: linear-gradient($main-color 40%, #477875);*/
}

.moto {
  color: $sec-color;
  font-family: "Lato";
  font-size: 20px;
}

#address-form-submit {
  background-color: $sec-color !important;
  font-weight: bold !important;
  font-size: 20px;
  color: $main-color;
  padding: 13px;
  width: 100%;
  line-height: normal;
  border-radius: 3px;
}

#add-address-btn {
    width: 30px !important;
    height: 30px !important;
    padding: 3px 0px;
/*  border-radius: 35px;*/
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.8 !important;
    color: $main-color;
}

#remove-address-btn {
    width: 30px !important;
    height: 30px !important;
    padding: 3px 0px;
/*  border-radius: 35px; */
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.8 !important;
    color: $main-color;
/*  background: $accent-color !important; */
}

.address-input {
  height: 50px !important;
  margin: auto;
  font-size: 20px;
}





