// Colors
$body-color: white;
$main-color: #5433FF;
$sub-color: #24D9F1;
$accent-color: #FF22A4;

// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "slideshow-card";
