#logo-bar {
  color: $accent-color;
  padding-right:10px;
  font-size:75px;
}

#logo-Roulette {
  color: $sub-color;
  font-size:75px;
}

.main-logo {
  display: flex;
  width: 100%;
}

.landing-background {
  background: $main-color;
}

.moto {
  color: $sec-color;
}

