.navbar-lewagon {
  justify-content: space-between;
  background: $main-color;
}

#nav-logo {
  width: 80px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler-icon {
  color: $sec-color;
}
