#respin-btn {
  background-color: $sec-color !important;
  font-weight: bold !important;
  color: $main-color;
  padding: 10px;
  width: 97%;
  line-height: normal;
  border-radius: 3px;
  text-align: center;
}

#respin.btn img {
  height: 29px;
  margin-left: 17px;
  border-image-source: "refresh-arrow.png";


}

.width-100 {
  width: 100%;
  #url-btn{
    width: 97%;
  }
}


