#respin-btn {
  height: 50px;
  width: 97%;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #00cccc00 !important;
  font-weight: bold !important;
  font-size: 20px;
  color: $sec-color;
  padding: 13px;
  line-height: normal;
  border: 3px solid $sec-color;
//  border-radius: 3px;
  margin-bottom: 94px !important;
  background-position: center !important;
}

.width-100 {
  width: 100%;
  #url-btn{
    width: 97%;
  }
}


