#respin-btn {
  height: 50px;
  width: 97%;
  font-family: $roulette-font;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #00cccc00 !important;
  font-weight: bold !important;
  font-size: 20px;
  color: $sec-color;
  padding: 13px;
  line-height: normal;
  border: 3px solid $sec-color;
  border-radius: 5px;
  margin-bottom: 10px !important;
  background-position: center !important;
}

#respin-btn:hover {
  height: 50px;
  width: 97%;
  font-family: $roulette-font;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $sec-color !important;
  font-weight: bold !important;
  font-size: 20px;
  color: black;
  padding: 13px;
  line-height: normal;
  border: 3px solid $sec-color;
  border-radius: 5px;
  margin-bottom: 10px !important;
  background-position: center !important;
  text-decoration: none;
}

.width-100 {
  width: 100%;
  #url-btn{
    width: 97%;
  }
}


