// Colors
$body-color: white;
$main-color: #030F4B;
$sub-color: #24D9F1;
$accent-color: #FF22A4;
$sec-color: #EBA623;

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "components/share-btns";
@import "components/landing";
@import "components/bar-mini-card";



